<!DOCTYPE html>
<hmtl>

    <head>
        <meta charset="utf-8">
        {{!--<title>About Page!</title>--}}
    </head>

    <body>
        {{> header}}
        {{!--dynamic data pageTitle--}}
        <h1>{{pageTitle}}</h1>
        <p>Some text</p>
    </body>

</html>

