<!DOCTYPE html>
<hmtl>

    <head>
        <meta charset="utf-8">
        {{!--<title>Home Page!</title>--}}
    </head>
    <body>
        {{> header}}

        {{!--dynamic data pageTitle--}}
        {{!--<h1>{{pageTitle}}</h1>--}}
        <p>{{screamIt welcomeMessage}}</p>

        {{> footer}}
    </body>

</html>