<!DOCTYPE html>
<hmtl>
    {{> header}}
    <head>
        <meta charset="utf-8">
        {{!--<title>Home Page!</title>--}}
    </head>
    <body>
        <h1>We will be right back! </h1>
        <p> Sorry for delay! </p>
        {{!--dynamic data pageTitle--}}
        {{!--<h1>{{pageTitle}}</h1>--}}

        {{> footer}}
    </body>

</html>